<h1>Edit Garden Bed - <%= @garden_bed.name %></h1>

<% if @garden_bed.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@garden_bed.errors.count, "error") %> prohibited this garden bed from being saved:</h2>

    <ul>
    <% @garden_bed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
<% end %>

<%= form_with(model: @garden_bed, local: true) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :area %>
    <%= f.number_field :area, min: 0.1, step: 0.05 %>
    <br>
    <%= f.submit %>
<% end %>