<h1>Create a New Garden Bed</h1>
<br>
<%= form_with model: @garden_bed do |f| %>
<%= f.hidden_field :user_id, :value => session[:user_id] %>
    <% if params[:plant_id] %>
        <%= f.hidden_field :plant_ids %>
    <% end %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :area %>
    <br>
    <%= f.radio_button :area_opt, "Regular", checked: "checked", #add clear event for other fields
    onClick: "document.getElementById('garden_bed_area').disabled = false;
    document.getElementById('garden_bed_area_w').disabled = true;
    document.getElementById('garden_bed_area_l').disabled = true;
    document.getElementById('garden_bed_area_d').disabled = true;"%>
    Area of Garden Bed (sq ft):
    <%= f.number_field :area, min: 0.1, step: 0.05, :disabled => false %>
    <br>
    <%= f.radio_button :area_opt, "Rectangular",
    onClick: "document.getElementById('garden_bed_area').disabled = true;
    document.getElementById('garden_bed_area_w').disabled = false;
    document.getElementById('garden_bed_area_l').disabled = false;
    document.getElementById('garden_bed_area_d').disabled = true;"%>
    Dimensions of Rectangular Garden Bed:
    <%= f.label :area_w, "Width(ft)" %><%= f.number_field :area_w, min: 0.1, step: 0.1, :disabled => true %>
    <%= f.label :area_l, "Length(ft)" %><%= f.number_field :area_l, min: 0.1, step: 0.1, :disabled => true %>
    <br>
    <%= f.radio_button :area_opt, "Circular",
    onClick: "document.getElementById('garden_bed_area').disabled = true;
    document.getElementById('garden_bed_area_w').disabled = true;
    document.getElementById('garden_bed_area_l').disabled = true;
    document.getElementById('garden_bed_area_d').disabled = false;"%>
    Dimension of Circular Garden Bed:
    <%= f.label :area_w, "Diameter(ft)" %><%= f.number_field :area_d, min: 0.1, step: 0.1, :disabled => true %>
    <br>
    <%= f.submit %>
<% end %>


